@charset "UTF-8";
/* Main CSS Doc */

/* 
    CSS Guide

    1. General Styles
    2. Main Nav

*/

/* 1. --- General Styles --- */

body {
   font-family: "skia-cc", sans-serif;
     font-weight: 700;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: #6153CC;
}

img, embed, object, video, picture {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
   font-family: "skia-cc", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2, section h3, section p {
    padding-left: 15px;
}

.spacer {
    margin-top: 60px;
}

.txt-spacer {
    margin-top: 30px;
}

/* 1. --- END General Styles --- */

/* 2. --- Main Nav --- */

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px;
}

#main-nav input, #burger {
    display: none;
}

/* Sibling Selectors */

#main-nav input:checked ~ #burger {
    display: block;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    padding: 8px 0 8px 0;
    transition: all 500ms linear;
    text-align: center;
    color: #6153CC;
}

#main-nav ul li a:hover {
    color: #2714b3;
}

#main-nav ul li {
    border-bottom: 1px solid #A60067;
}

#main-nav ul li:first-child {
    border-top: 1px solid #A60067;
}

#main-nav ul li:last-child {
    margin-bottom: 40px;
}


#logo {
    margin-top: 20px;
    max-width: 200px;
}

/* 2. --- END Main Nav --- */

/* 3. --- Hero --- */

#hero {
    max-width: 100%;
    margin-bottom: 25px;
    padding: 15px, 0, 15px, 0;
}

.line-divider {
    margin-top: 15px;
   border-top: solid 2px #6153CC;
   padding-top: 15px;
}

/* 3. --- END Hero --- */

/* 4. --- Flavors --- */


#center-can img {
    max-width: 100%;
    width: 200px;
    margin-top: 5%;
    transition: all 500ms linear;
    scale: 95px;
    opacity: 75%;
}

#center-can img:hover {
    scale: 100%;
    opacity: 100%;
}

#left-can img {
    max-width: 100%;
    width: 200px;
    margin-top: 5%;
    transition: all 500ms linear;
    scale: 95px;
    opacity: 75%;
}

#left-can img:hover {
    scale: 100%;
    opacity: 100%;
}

#right-can img {
    max-width: 100%;
    width: 200px;
    margin-top: 5%;
    transition: all 500ms linear;
    scale: 95px;
    opacity: 75%;
}

#right-can img:hover {
    scale: 100%;
    opacity: 100%;
}

/* 4. --- END Flavor --- */


/* 5. --- Form --- */

#sign-in-form {
    width: 450px;
}

#sign-in-form form {
    display: flex;
    flex-direction: column;
}

#sign-in-form input, textarea {
    padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 1px;
   margin-bottom: 30px;
   font: inherit;
   width: 100%;
}

#sign-in-form textarea {
    height: 250px;
}

#sign-in-form input[type="submit"] {
    padding: 10px 20px;
   background: #6153CC;
   border: 2px solid #44FFD1;
   color: #ffffff;
   transition: all 200ms ease-in;
   width: 200px;
   align-self: flex-end;
}

#sign-in-form input[type="submit"]:hover {
    background: #44FFD1;
    color: #360A14;
    border: 2px solid #6153CC;
    border-radius: 5px;
}

/* 6. --- Footer --- */

footer {
    background-color: #360A14;
}

#footer-logo img {
    margin: 10px;
    padding: 10px;
}

.footer-list ul {
    list-style: none;
}

.footer-list ul li {
    margin: 5px;
    padding: 5px;
}

.footer-list ul li a {
    transition: all 500ms linear;
    text-align: center;
    color: #6153CC;
}

.footer-list ul li a:hover {
    color: #2714b3;
}

/* 6. --- END Footer --- */

/* 2. --- Mobile Grid --- */



/* 2. --- END Mobile Grid --- */

/* 3. --- Tablet Grid --- */

@media screen and (min-width: 768px) {


}

/* 3. --- END Tablet Grid --- */

/* 4. --- Desktop Grid --- */

@media screen and (min-width: 1200px) {

}

/* 4. --- END Desktop Grid --- */

/* 5. --- XL Grid --- */

@media screen and (min-width: 1920px) {


}

/* 5. --- END XL Grid --- */